In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
824,tt1068242,24000000,63543328,Footloose,Kenny Wormald|Julianne Hough|Dennis Quaid|Andi...,Craig Brewer,There comes a time to cut loose.,City kid Ren MacCormack moves to a small town ...,113,Drama|Music|Romance,Spyglass Entertainment|MTV Films,10/6/2011,6.5,2011
897,tt0238380,20000000,5359645,Equilibrium,Christian Bale|Taye Diggs|Emily Watson|Angus M...,Kurt Wimmer,"In a future where freedom is outlawed, outlaws...","In a dystopian future, a totalitarian regime m...",107,Action|Science Fiction|Thriller,Dimension Films|Blue Tulip Productions,12/6/2002,6.9,2002
26,tt2637276,68000000,215863606,Ted 2,Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...,Seth MacFarlane,"Ted is Coming, Again.",Newlywed couple Ted and Tami-Lynn want to have...,115,Comedy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/25/2015,6.3,2015
1463,tt0479143,24000000,155721132,Rocky Balboa,Sylvester Stallone|Burt Young|Milo Ventimiglia...,Sylvester Stallone,It ain't over 'til it's over.,When he loses a highly publicized virtual boxi...,102,Drama,Columbia Pictures|Revolution Studios|Rogue Mar...,12/20/2006,6.4,2006
1541,tt0395495,25000000,16158487,Catch and Release,Jennifer Garner|Timothy Olyphant|Kevin Smith|S...,Susannah Grant,Life is messy. Love is messier,Gray Wheeler just lost everything. But it coul...,111,Comedy|Drama|Romance,Columbia Pictures Corporation|Relativity Media,10/20/2006,6.0,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
s = data[data.budget == data.budget.max()]
display(s)
s['original_title']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [9]:
s = data[data.runtime == data.runtime.max()]
display(s)
s['original_title']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = data[data.runtime == data.runtime.min()]
answers['3']['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = data.runtime.mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = data.runtime.median()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [52]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue']-data['budget']
s = data[data.profit == data.profit.max()]
answers['6'] = s['original_title']
answers['6']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [53]:
data['profit'] = data['revenue']-data['budget']
s = data[data.profit == data.profit.min()]
answers['7'] = s['original_title']
answers['7']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = data[data.revenue > data.budget].cast.count()
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = data[data['revenue'] == data[(data.release_year==2008)].revenue.max()]
answers['9']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = data.loc[(data['release_year']<= 2014)&(data['release_year']>=2012)].sort_values(by='profit')
answers['10']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013,-51337973
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013,-45510171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013,894761885
974,tt1074638,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/2012,6.8,2012,908561013
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6.9,2013,1015439994
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,7.5,2013,1124219009
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
q = data.genres.str.cat(sep = '|').split('|')
answers['11'] = Counter(q).most_common(1)
answers['11']

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
data['profit'] = data['revenue']-data['budget']
m = data[data.profit > 0].genres.str.cat(sep = '|').split('|')
answers['12'] = Counter(m).most_common(1)
answers['12']

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [20]:
directors_groups = data.groupby(['director'])
display(directors_groups)

In [21]:
directors_groups.groups
x = directors_groups.sum()
max = x.revenue.max()
answers['13'] = x[x.revenue == max]
answers['13']

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
data = pd.read_csv('movie_bd_v5.csv')
action_films = data[data.genres.str.contains('Action')]
action_films.director.value_counts()

Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
Robert Rodriguez      6
                     ..
David Leland          1
Frank Miller          1
Alfonso CuarÃ³n       1
Neil Burger           1
Ben Garant            1
Name: director, Length: 345, dtype: int64

In [23]:
y = action_films['director'].str.cat(sep = '|').split('|')
answers['14'] = Counter(y).most_common(1)
answers['14']

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
films_2012 = data[data.release_date.str.contains('/2012')]
max = films_2012.revenue.max()
films_2012 = data[data.revenue == max]
actors = films_2012.cast.str.cat(sep = '|').split('|')
answers['15'] = print(actors)

['Robert Downey Jr.', 'Chris Evans', 'Mark Ruffalo', 'Chris Hemsworth', 'Scarlett Johansson']

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [25]:
z = data[data.budget >= data.budget.mean()].cast.str.cat(sep = '|').split('|')
answers['16'] = Counter(z).most_common(2)
answers['16']

[('Matt Damon', 18), ('Adam Sandler', 17)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [26]:
cage_films = data[data.cast.str.contains('Nicolas Cage')]
p = cage_films.genres.str.cat(sep = '|').split('|')
answers['17'] = Counter(p).most_common(3)
answers['17']

[('Action', 17), ('Thriller', 15), ('Drama', 12)]

# 18. Самый убыточный фильм от Paramount Pictures

In [106]:
par_films = data[data.production_companies.str.contains('Paramount Pictures')]
min = par_films.profit.min()
answers['18'] = par_films[par_films.profit == min]
answers['18']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,total_words_in_overview,production_companies_list,name_length
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7,23,"[Paramount Pictures, Intermedia Films, Nationa...",20

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [107]:
annual_profit_group = data.groupby(['release_year']).sum()
max = annual_profit_group['revenue']
m = max.max()
answers['19'] = max[max == m].index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [55]:
warn_studio = data[data.production_companies.str.contains('Warner Bros')]
annual_profit_group = warn_studio.groupby(['release_year']).sum()
max = annual_profit_group['profit']
max

release_year
2000     452631386
2001    1343545668
2002    1022709901
2003    1855493377
2004    1631933725
2005    1551980298
2006     620170743
2007    2201675217
2008    2134595031
2009    1822454136
2010    1974712985
2011    1871393682
2012    1258020056
2013    1636453400
2014    2295464519
2015     870368348
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [81]:
data['release_month'] = data.release_date.str.split('/').apply(lambda x: x[0])
answers['21'] = s[s == s.max()].index[0]
answers['21']

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [87]:
answers['22'] = s['6'] + s['7'] +s['8']
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [96]:
winter_films = data[(data.release_month == '12')|(data.release_month == '1')|(data.release_month == '2')]
p = winter_films.director.str.cat(sep = '|').split('|')
answers['23'] = Counter(p).most_common(1)
answers['23']

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [90]:
data['name_length'] = data.original_title.apply(lambda x: len(x))
data['production_companies_list'] = data.production_companies.str.split("|")
production_companies_df = data.explode('production_companies_list')
answers['24'] = production_companies_df.groupby('production_companies_list').name_length.mean().sort_values(ascending=False).index[0]
print(answers['24'])

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [104]:
data['total_words_in_overview'] = data.overview.apply(lambda x: len(x.split(' ')))
data['production_companies_list'] = data['production_companies'].str.split('|')
data2 = data.explode('production_companies_list')
answers['25'] = data2.groupby(['production_companies_list'])['total_words_in_overview'].mean().sort_values().tail(1)
answers['25']

production_companies_list
Midnight Picture Show    175.0
Name: total_words_in_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [88]:
one_percent_of_best_df = data.sort_values(by='vote_average').tail(int(data.original_title.count()/100)).original_title
w = one_percent_of_best_df.tolist()
answers['26'] = print(w)

['The Theory of Everything', 'The Lord of the Rings: The Two Towers', 'There Will Be Blood', 'Mr. Nobody', '12 Years a Slave', 'The Pianist', 'Gone Girl', 'Memento', 'Guardians of the Galaxy', 'Inception', 'The Wolf of Wall Street', 'The Grand Budapest Hotel', 'The Lord of the Rings: The Return of the King', 'Room', 'Interstellar', 'Inside Out', 'The Imitation Game', 'The Dark Knight']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [100]:
import itertools 
import collections
data27=pd.read_csv('movie_bd_v5.csv')
data27['cast'] = data27['cast'].str.split('|')
data_p = data27['cast'].reset_index()
data_p['pairs'] = data_p['cast'].apply(lambda s: list(itertools.combinations(s, 2)))
data_p = data_p.explode('pairs').reset_index()
collections.Counter(data_p['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [105]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals',
 '3':        imdb_id    budget   revenue   original_title  \
 768  tt1449283  30000000  14460000  Winnie the Pooh

                                                   cast  \
 768  Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...

                       director   tagline  \
 768  Stephen Anderson|Don Hall  Oh Pooh.

                                               overview  runtime  \
 768  During an ordinary day in Hundred Acre Wood, W...       63

                genres                               production_companies  \
 768  Animation|Family  Walt Disney Pictures|Walt Disney Animation Stu...

     release_date  vote_average  release_year
 768    4/13/2011           6.8          2011  ,
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 239    Avatar
 Name: original_title, dtype: object,
 '7': 1245    The Lone Ranger
 Name: original_title, dtype: object,
 '8': 1478,
 '9':        imdb_id     budget     revenue   original_title  \
 599  tt0468569  185000000  1001921825  The Dark Knight

                                                   cast           director  \
 599  Christian Bale|Michael Caine|Heath Ledger|Aaro...  Christopher Nolan

              tagline                                           overview  \
 599  Why So Serious?  Batman raises the stakes in his war on crime. ...

      runtime                       genres  \
 599      152  Drama|Action|Crime|Thriller

                                   production_companies release_date  \
 599  DC Comics|Legendary Pictures|Warner Bros.|Syncopy    7/16/2008

      vote_average  release_year     profit
 599           8.1          2008  816921825  ,
 '10':         imdb_id     budget     revenue                   original_title  \
 1245  tt1210819  255000000    89289910                  The Lone Ranger
 1214  tt0790736  130000000    61648500                         R.I.P.D.
 1007  tt1374992   60000000     8106475                      Upside Down
 1302  tt0884726   70000000    18662027  Legends of Oz: Dorothy's Return
 1235  tt1308729   55000000     9489829               Bullet to the Head
 ...         ...        ...         ...                              ...
 1189  tt1690953   76000000   970761885                  Despicable Me 2
 974   tt1074638  200000000  1108561013                          Skyfall
 1180  tt1300854  200000000  1215439994                       Iron Man 3
 1177  tt2294629  150000000  1274219009                           Frozen
 970   tt0848228  220000000  1519557910                     The Avengers

                                                    cast  \
 1245  Johnny Depp|Armie Hammer|William Fichtner|Hele...
 1214  Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...
 1007  Kirsten Dunst|Jim Sturgess|Timothy Spall|James...
 1302  Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...
 1235  Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...
 ...                                                 ...
 1189  Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...
 974   Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...
 1180  Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...
 1177  Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...
 970   Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...

                         director  \
 1245              Gore Verbinski
 1214            Robert Schwentke
 1007          Juan Diego Solanas
 1302              Dan St. Pierre
 1235                 Walter Hill
 ...                          ...
 1189  Pierre Coffin|Chris Renaud
 974                   Sam Mendes
 1180                 Shane Black
 1177     Chris Buck|Jennifer Lee
 970                  Joss Whedon

                                                 tagline  \
 1245                            Never Take Off the Mask
 1214                    To protect and serve the living
 1007                            Two worlds. One future.
 1302                           There's trouble in OZ...
 1235                            Revenge Never Gets Old.
 ...                                                 ...
 1189                                        Back 2 Work
 974                                 Think on your sins.
 1180                Unleash the power behind the armor.
 1177  Only the act of true love will thaw a frozen h...
 970                             Some assembly required.

                                                overview  runtime  \
 1245  The Texas Rangers chase down a gang of outlaws...      149
 1214  A recently slain cop joins a team of undead po...       96
 1007  In an alternate universe where twinned worlds ...      104
 1302  Dorothy wakes up in post-tornado Kansas, only ...       88
 1235  After watching their respective partners die, ...       92
 ...                                                 ...      ...
 1189  Gru is recruited by the Anti-Villain League to...       98
 974   When Bond's latest assignment goes gravely wro...      143
 1180  When Tony Stark's world is torn apart by a for...      130
 1177  Young princess Anna of Arendelle dreams about ...      102
 970   When an unexpected enemy emerges and threatens...      143

                                      genres  \
 1245               Action|Adventure|Western
 1214            Fantasy|Action|Comedy|Crime
 1007  Romance|Science Fiction|Drama|Fantasy
 1302                 Animation|Music|Family
 1235                  Action|Crime|Thriller
 ...                                     ...
 1189                Animation|Comedy|Family
 974               Action|Adventure|Thriller
 1180       Action|Adventure|Science Fiction
 1177             Animation|Adventure|Family
 970        Science Fiction|Action|Adventure

                                    production_companies release_date  \
 1245  Walt Disney Pictures|Jerry Bruckheimer Films|I...     7/3/2013
 1214  Universal Pictures|Original Film|Dark Horse En...    7/18/2013
 1007  Onyx Films|Studio 37|Jouror Productions|France...    9/27/2012
 1302   Prana Animation Studios|Summertime Entertainment    6/13/2013
 1235  Dark Castle Entertainment|After Dark Films|IM ...    1/31/2013
 ...                                                 ...          ...
 1189      Universal Pictures|Illumination Entertainment    6/25/2013
 974                                   Columbia Pictures   10/25/2012
 1180                                     Marvel Studios    4/18/2013
 1177  Walt Disney Pictures|Walt Disney Animation Stu...   11/27/2013
 970                                      Marvel Studios    4/25/2012

       vote_average  release_year      profit
 1245           6.0          2013  -165710090
 1214           5.3          2013   -68351500
 1007           6.1          2012   -51893525
 1302           6.1          2013   -51337973
 1235           5.2          2013   -45510171
 ...            ...           ...         ...
 1189           7.0          2013   894761885
 974            6.8          2012   908561013
 1180           6.9          2013  1015439994
 1177           7.5          2013  1124219009
 970            7.3          2012  1299557910

 [367 rows x 15 columns],
 '11': [('Drama', 782)],
 '12': [('Drama', 560)],
 '13':                    budget     revenue  runtime  vote_average  release_year  \
 director
 Peter Jackson  1288000000  6490593685     1355          58.1         16059

                    profit
 director
 Peter Jackson  5202593685  ,
 '14': [('Robert Rodriguez', 9)],
 '15': None,
 '16': [('Matt Damon', 18), ('Adam Sandler', 17)],
 '17': [('Action', 17), ('Thriller', 15), ('Drama', 12)],
 '18':        imdb_id    budget  revenue original_title  \
 436  tt0964517  25000000  9190869    The Fighter

                                                   cast          director  \
 436  Mark Wahlberg|Christian Bale|Amy Adams|Melissa...  David O. Russell

                                      tagline  \
 436  Every dream deserves a fighting chance.

                                               overview  runtime genres  \
 436  The Fighter, is a drama about boxer "Irish" Mi...      116  Drama

     production_companies release_date  vote_average  release_year
 436   Paramount Pictures   12/17/2010           7.1          2010  ,
 '19': 2014,
 '21': '9',
 '22': 450,
 '26': None,
 '25': production_companies_list
 Midnight Picture Show    175.0
 Name: total_words_in_overview, dtype: float64,
 '24': 'Four By Two Productions',
 '23': [('Peter Jackson', 7)]}

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)